<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.adminsystem.dao.SystemUserDao">
    <insert id="asd">
        INSERT INTO SYSTEMUSER_HIS
        (PK_SYSTEMUSER, SYSTEMUSER_ORG, SYSTEMUSER_CODE, SYSTEMUSER_DESC, INSERT_TIMESTAMP, LAST_UPDATE_TIMESTAMP, CREATOR, MODIFIER,BKUP_TIMESTAMP)
        SELECT
        PK_SYSTEMUSER, SYSTEMUSER_ORG, SYSTEMUSER_CODE, SYSTEMUSER_DESC, INSERT_TIMESTAMP, LAST_UPDATE_TIMESTAMP, CREATOR, MODIFIER,CURRENT_DATE
        FROM SYSTEMUSER
    </insert>
    <insert id="insertSystemuser" parameterType="java.util.HashMap">
      INSERT INTO SYSTEMUSER
        (PK_SYSTEMUSER, SYSTEMUSER_ORG, SYSTEMUSER_CODE, SYSTEMUSER_DESC, INSERT_TIMESTAMP, LAST_UPDATE_TIMESTAMP, CREATOR, MODIFIER)
        VALUES(#{PK_SYSTEMUSER}, #{SYSTEMUSER_ORG}, #{SYSTEMUSER_CODE}, #{SYSTEMUSER_DESC}, current_timestamp, current_timestamp, 'Admin', 'Admin')
    </insert>
    <delete id="deleteSystem">
        DELETE FROM SYSTEMUSER
    </delete>
</mapper>